<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <h3>Where I shop</h3>
  <div class="col-md-12">
    <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="store in stores">
        <li tooltip="{{store.info}}">Store: {{store.name}},  Purchase ${{store.amount}},  Giving %{{store.giving}}<button type="button" class="close" ng-click="remove(store)">&times;</button></li>
    </ul>
  </div>

  <form>
    <label>
      Store: <input type="text" ng-model="newStoreName" /><br/></br>
      Purchase Amount: <input type="number" ng-model="newStoreAmount" /><br/></br>
      Giving % : <input type="number" ng-model="newStoreGiving" /><br/></br>
      <button type="submit" class="btn btn-primary" ng-click="add()">Add New</button>
    </label>
  </form>
</div>
